* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

header h1 {
  color: white;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
}



